<!--<graph-->
<!--  [data]="exampleDateData"-->
<!--  [options]="{-->
<!--    xType: 'date',-->
<!--    seriesType: 'line',-->
<!--    lineOptions: {-->
<!--      showGaps: true,-->
<!--      gapDistance: 32-->
<!--    }-->
<!--  }"-->
<!--&gt;</graph>-->

<!--<graph-->
<!--  [data]="exampleNumberData"-->
<!--  [options]="{-->
<!--    xType: 'number',-->
<!--    seriesType: 'line',-->
<!--    lineOptions: {-->
<!--      showGaps: true,-->
<!--      gapDistance: 2-->
<!--    }-->
<!--  }"-->
<!--&gt;</graph>-->

<!--&lt;!&ndash;<graph&ndash;&gt;-->
<!--&lt;!&ndash;  [data]="exampleDateData"&ndash;&gt;-->
<!--&lt;!&ndash;  [options]="{&ndash;&gt;-->
<!--&lt;!&ndash;    seriesType: 'line',&ndash;&gt;-->
<!--&lt;!&ndash;    lineOptions: {&ndash;&gt;-->
<!--&lt;!&ndash;      showGaps: false&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;  }"&ndash;&gt;-->
<!--&lt;!&ndash;&gt;</graph>&ndash;&gt;-->

<!--&lt;!&ndash;<graph&ndash;&gt;-->
<!--&lt;!&ndash;  [data]="exampleDateData"&ndash;&gt;-->
<!--&lt;!&ndash;  [options]="{&ndash;&gt;-->
<!--&lt;!&ndash;    seriesType: 'dots'&ndash;&gt;-->
<!--&lt;!&ndash;  }"&ndash;&gt;-->
<!--&lt;!&ndash;&gt;</graph>&ndash;&gt;-->
