<graph
  [data]="exampleDateData"
  [options]="{
    xType: 'date',
    seriesType: 'line',
    lineOptions: {
      showGaps: true,
      gapDistance: 32
    }
  }"
></graph>

<graph
  [data]="exampleNumberData"
  [options]="{
    xType: 'number',
    seriesType: 'line',
    lineOptions: {
      showGaps: true,
      gapDistance: 2
    }
  }"
></graph>

<!--<graph-->
<!--  [data]="exampleDateData"-->
<!--  [options]="{-->
<!--    seriesType: 'line',-->
<!--    lineOptions: {-->
<!--      showGaps: false-->
<!--    }-->
<!--  }"-->
<!--&gt;</graph>-->

<!--<graph-->
<!--  [data]="exampleDateData"-->
<!--  [options]="{-->
<!--    seriesType: 'dots'-->
<!--  }"-->
<!--&gt;</graph>-->
