<graph
  [serieses]="[
    {
      points: graphData.solves,
      options: {
        seriesType: DOTS,
        color: 'white'
      }
    },
    {
      points: graphData.ao50,
      options: {
        seriesType: LINE,
        lineOptions: {
          showGaps: false
        },
        color: 'red'
      }
    },
    {
      points: graphData.ao100,
      options: {
        seriesType: LINE,
        lineOptions: {
          showGaps: false
        },
        color: 'green'
      }
    },
    {
      points: graphData.pbSingles,
      options: {
        seriesType: LINE,
        lineOptions: {
          showGaps: false
        },
        color: '#e8c202'
      }
    }
  ]"
  [options]="{
    xType: 'number'
  }"
></graph>
