<!--TODO webstorm complains bc 'dots' is a string and string is not a 'dots'-->
<graph
  [serieses]="[
    {
      points: graphData.solvesByNumber,
      options:{
        seriesType: 'dots',
        color: 'lightblue'
      }
    },
    {
      points: graphData.averages,
      options:{
        seriesType: 'line',
        lineOptions: {
          showGaps: false
        },
        color: 'red'
      }
    }
  ]"
  [options]="{
    xType: 'number'
  }"
></graph>
<!--    seriesType: 'line'-->

<!-- <graph
  [data]="graphData.solvesByDate"
  [options]="{
    xType: 'date',
    seriesType: 'dots'
  }"
></graph> -->

<!--<graph-->
<!--  [data]="graphData.averages"-->
<!--  [options]="{-->
<!--    xType: 'number',-->
<!--    seriesType: 'line',-->
<!--    color: 'red'-->
<!--  }"-->
<!--&gt;</graph>-->

<!-- <graph
  [data]="graphData.solvesByDate"
  [options]="{
    xType: 'date',
    seriesType: 'dots'
  }"
></graph> -->
